
.message-list {
    height: 300px;
    margin-bottom: 20px;
     overflow-y: auto;
}

.message {
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    
}

.message.sent {
    background-color: #daf8cb;
    text-align: right;
}

.message.received {
    background-color: #f1f0f0;
    text-align: left;
}

.message-input {
    display: flex;
    justify-content: space-between;
}